---
title: JSConf EU 2012
layout: main
paginate: 1
---

<!-- Front page, one article only -->
{% for post in site.posts limit:30 %}
  {% if.post.category != "speaker" %}
  {% if.post.tag != "sponsor" %}
  {% if.post.tag != "sponsor-special" %}
  {% if.post.tag != "sponsor-main" %}
  {% if.post.tag != "sponsor-custom" %}
  {% if.post.tag != "sponsor-support" %}
  <div class="post">
    {{ post.content }}
    <p class="end">°</p>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
{% endfor %}

