---
title: JSConf EU 2012 Sponsors
layout: main
tag: foo
---

We'll be starting to announce this year’s sponsors soon.

If you want to become a sponsor, <a href="mailto:contact@jsconf.eu?subject=Sponsoring%20JSConf%20EU%202012">please get in touch!</a>

<!-- Front page, one article only -->
<!-- Uncomment the part below and tag your post as shown above, but with "sponsor" -->

<!-- {% for post in site.posts %}
  {% if.post.tag == "sponsor" %}
  {{ post.content }}
  {% endif %}
{% endfor %}
 -->
