<aside class="sponsors">
  <h1 style="text-align:center">Sponsors</h1>
  <img class="sponsorfooter" src="/images/sponsor-logos/DNSimple.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/Jetbrains.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/KendoUI.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/adobe.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/bloomberg.jpg" />
  <img class="sponsorfooter" src="/images/sponsor-logos/couchdb.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/enyo.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/facebook.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/github.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/google.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/ie.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/mozilla.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/saucelabs.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/sinnerschrader.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/soundcloud.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/superfeedr.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/uxebu-logo.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/yammer.png" />
</aside>
