<aside class="sponsors">
  <h1 style="text-align:center">Sponsors</h1>
  <img class="sponsorfooter" src="/images/sponsor-logos/200-DNSimple.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-Jetbrains.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-KendoUI.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-adobe.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-bloomberg.jpg" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-couchdb.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-enyo.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-facebook.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-github.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-google.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-ie.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-mozilla.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-saucelabs.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-sinnerschrader.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-soundcloud.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-superfeedr.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-uxebu-logo.png" />
  <img class="sponsorfooter" src="/images/sponsor-logos/200-yammer.png" />
</aside>
