<aside class="tickets">
  <h4>Answers to Ticket FAQs</h4>
  <ul>
    <li style="margin-bottom: 0.5em">WE WILL HAVE ONE LAST SALE OMGWTFBBQ!<br>Details to be anounced via <a href="http://twitter.com/jsconfeu">Twitter</a> soon.</li>
    <li>No, we do not maintain a waiting list.</li>
    <li>Yes, we allow transfers! If you wish to transfer your ticket, simply email us (<a href="mailto:contact@jsconf.eu">contact@jsconf.eu</a>) the new attendee's details from the address used to buy the ticket.</li>
  </ul>
</aside>
